{% include 'ejercicio/header.html' %}
<br>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="card">
                {% for col in database %}
                <div class="card-header">
                    {{ col.nameProduct }}
                </div>
                <div class="card-body">
                    <img width="150" src="{{ col.imageProduct }}" alt="">
                    <h4 class="card-title">{{ col.descriptionProduct }}</h4>
                    <h5>{{ col.priceProduct }}</h5>
                    <a class="btn btn-success" href="comprar/{{ col.idProduct }}">Comprar</a>
                    <a class="btn btn-outline-success" href="agregar/{{ col.idProduct }}">Agregar al carrito</a>
                </div>
                {% endfor %}
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

{% include 'ejercicio/footer.html' %}